@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

input[type=text]::-moz-placeholder {
  opacity: 1;
}

input[type=text]:-ms-input-placeholder {
  opacity: 1;
}

input[type=text]::placeholder {
  opacity: 1;
}

:root {
  font-family: "Saira", sans-serif;
  font-size: 16px;
  color: #262627;
  font-weight: weight(super);
}
@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

html {
  background: url("../../assets/images/gradient2.png") no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  color: #39393a;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  font-family: "Saira", sans-serif;
}

@media (min-width: 768px) {
  .stage-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: 0;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
  }
}

.main-container {
  background: radial-gradient(91.21% 191.68% at 4.19% 5.58%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.072) 100%);
  border: 2px solid rgba(255, 255, 255, 0.33);
  box-sizing: border-box;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: 0;
  padding: 2em 1em;
  width: 90%;
  min-width: 340px;
  min-height: 90vh;
}
@media (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: 0;
    align-items: flex-start;
    justify-content: 0;
    height: 90vh;
  }
}

.form-container {
  background: radial-gradient(91.21% 191.68% at 4.19% 5.58%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.072) 100%);
  border: 2px solid rgba(255, 255, 255, 0.33);
  box-sizing: border-box;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.055) 0px 10px 10px;
  width: 90%;
  height: 60%;
  min-width: 330px;
  min-height: 450px;
  max-width: 550px;
  max-height: 450px;
}
.form-container .button--long {
  width: 80%;
  height: 2.3em;
  font-size: 1.3em;
}
.form-container .close-button {
  align-self: flex-end;
  margin-right: 1.5em;
  font-size: 1.15rem;
  opacity: 0.4;
}
.form-container .close-button:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  header {
    align-self: center;
  }
}
.modal {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../../assets/images/gradient2.png), rgba(0, 0, 0, 0.9);
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.modal--hide {
  opacity: 0;
  max-height: 0;
}

.main-logo {
  padding: 1em;
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
}
.main-logo .main-logo__icon {
  width: 48px;
  margin-right: 1em;
}
.main-logo .main-logo__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: 0;
}
.main-logo .main-logo__title {
  font-weight: 700;
  line-height: 0.8;
  font-size: 2.5rem;
}
.main-logo .main-logo__subtitle {
  font-weight: 200;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .main-logo {
    width: unset;
    min-width: unset;
  }
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(91.21% 191.68% at 4.19% 5.58%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.072) 100%);
  border: 2px solid rgba(255, 255, 255, 0.33);
  box-sizing: border-box;
  border-radius: 31px;
  min-width: 315px;
  max-height: 95%;
  padding: 2em 0.5em;
  margin-bottom: 1em;
  text-align: center;
  margin-top: 1em;
}
.stage__card-container {
  width: 100%;
  height: 20em;
  padding: 0.5em;
  overflow-y: auto;
}
.stage__stage-count {
  font-weight: 300;
}
@media (min-width: 768px) {
  .stage {
    margin-right: 1.5em;
  }
  .stage:last-child {
    margin-right: unset;
  }
  .stage__card-container {
    max-height: 100vh;
    overflow-y: auto;
  }
}
@media (min-width: 1024px) {
  .stage__card-container {
    height: 100vh;
    max-height: 100vh;
  }
}

.circular-img {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 0.7px solid rgba(0, 0, 0, 0.25);
  color: #5f25bb;
  font-size: 1.3rem;
  font-weight: 500;
}

.circular-img--no-img {
  background-color: #cbb4f0;
}

.card {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  transition: all 250ms ease;
  width: 100%;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 10px;
  padding: 0 1em;
  margin-bottom: 0.8em;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.055) 0px 10px 10px;
  transform: scale(1.008);
  background-color: #ffffff;
}
.card--supercard {
  background-color: #39393a;
  color: #ffffff;
}
.card--supercard .tag {
  background-color: rgba(255, 255, 255, 0.205);
  color: #ffffff;
}
.card--supercard input[type=checkbox]::before {
  border: 2px solid rgba(255, 255, 255, 0.205);
}
.card--supercard:hover {
  background-color: #262627;
}
.card__left-wrapper {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
}
.card .left-wrapper__company-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0.8em;
}
.card__company-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: -0.2em;
}
.card__position-title {
  font-weight: 300;
  font-size: 0.9rem;
  color: #9D9D9D;
}
.card__right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 45px;
}
.card__trash-and-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: 0;
}

.tag {
  font-size: 0.625rem;
  padding: 0.2em 0.5em;
  border-radius: 4px;
  background-color: #262627;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.button {
  transition: all 250ms ease;
  background-color: #39393a;
  color: #ffffff;
  border-radius: 10px;
  padding: 0 0.5em;
  margin: 1em 0;
  font-size: 1.7rem;
  font-weight: 500;
}
.button:hover {
  background-color: #262627;
}

.button--long {
  width: 100%;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]::before {
  content: "";
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border: 2px solid #262627;
  border-radius: 5px;
}

input[type=checkbox]:checked::before {
  background-image: url(../../assets/icons/main-logo.svg);
  background-size: 1.3em 1.3em;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  height: 45%;
}
.form__checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 0.8em;
  padding: 5px;
  width: 7em;
}
.form input[type=text] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 3.3em;
  padding: 10px 10px 10px 18px;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 2px solid rgba(38, 38, 39, 0.05);
  border-radius: 8px;
  font-weight: 400;
  color: #262627;
}
.form input[type=text]:focus {
  outline: none;
}
.form input[type=text]::-moz-placeholder {
  color: #39393a;
  opacity: 0.6;
  font-weight: 300;
}
.form input[type=text]:-ms-input-placeholder {
  color: #39393a;
  opacity: 0.6;
  font-weight: 300;
}
.form input[type=text]::placeholder {
  color: #39393a;
  opacity: 0.6;
  font-weight: 300;
}

.trash {
  width: 1.1em;
  height: 1.1em;
  margin-left: 0.2em;
}
.trash img {
  width: 100%;
  opacity: 0.4;
}
.trash img:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */