@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

input[type="checkbox"] {
  appearance: none;
  outline: none;
}

input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  border: 2px solid $black_800;
  border-radius: 5px;
  appearance: none;
}

input[type="checkbox"]:checked::before {
  background-image: url(../../assets/icons/main-logo.svg);
  background-size: 1.3em 1.3em;
  background-position: center;
}
