@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.circular-img {
  @include flex(0, center, center);
  width: 46px;
  height: 46px;
  color: $black_800;
  font-size: 2.2rem;
  font-weight: weight(super);

  img {
    width: 100%;
    height: 100%;
  }
}

// .circular-img--no-img {
//   background-color: $violet_400;
// }
