@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;
@use "../6_queries/queries" as *;
@use "../1_base/typography" as *;

.form {
  @include flex(column, center, space-around);
  width: 95%;
  margin-bottom: 1.5em;

  &__checkbox-container {
    @include flex(row, flex-end, space-between);
    align-self: flex-start;
    margin-left: 0.8em;
    padding: 5px;
    width: 7em;
  }

  .input-container {
    overflow-y: auto;
    width: 100%;
    max-height: 415px;
    padding: 0 0.8em;
  }

  &__control {
    width: 100%;
    height: 5.3em;
    position: relative;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    70% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
    }
  }

  &__error {
    color: rgba(184, 37, 37, 0.767);
    font-size: 0.8em;
    font-weight: weight(bold);
    position: absolute;
    right: 0.3em;
    top: 4px;
    opacity: 0.9;
    visibility: hidden;
  }

  &__required {
    color: rgba(184, 37, 37, 0.767);
    position: absolute;
    font-size: 0.8em;
    font-weight: weight(bold);
    top: 4px;
    right: 5px;
    animation: fadeOut 3s;
  }

  .input-wrapper {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    top: 30%;
    right: 15px;
    width: 1.3em;
  }

  &__label {
    font-weight: weight(bold);
    font-size: 0.85rem;
  }

  &__input {
    @include flex(row, center, space-between);
    font-weight: weight(medium);
    font-family: inherit;
    font-size: 0.95rem;
    width: 100%;
    height: 3.3em;
    padding: 10px 10px 10px 18px;
    background-color: rgb(255, 255, 255);
    appearance: none;
    outline: none;
    border: 2px solid rgba(38, 38, 39, 0.05);
    color: $black_800;
    &:focus {
      // outline: none;
      border: solid 3px $black_700;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.479);
      opacity: 0.1;
      font-weight: weight(regular);
    }
  }

  &__wrong {
    border: 3px solid $red_700;
  }
  &__right {
    border: 3px solid $green_700;
  }

  .button--long {
    width: 91%;
    min-height: 2.4em;
    font-size: 1.18em;
  }
}
