@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;
@use "../6_queries/queries" as *;
@use "../1_base/typography" as *;

.form {
  @include flex(column, center, space-around);
  width: 75%;
  height: 18em;
  margin-bottom: 1.5em;

  &__checkbox-container {
    @include flex(row, center, space-between);
    align-self: flex-start;
    margin-left: 0.8em;
    padding: 5px;
    width: 7em;
  }

  &__input {
    @include flex(row, center, space-between);
    width: 90%;
    height: 3.3em;
    padding: 10px 10px 10px 18px;
    background-color: rgb(255, 255, 255);
    appearance: none;
    outline: none;
    border: 2px solid rgba(38, 38, 39, 0.05);
    border-radius: 8px;
    font-weight: weight(medium);
    color: $black_800;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.479);
      opacity: 0.1;
      font-weight: weight(regular);
    }
  }

  &__wrong {
    border: 3px solid rgba(218, 68, 68, 0.603);
  }
  &__right {
    border: 3px solid rgba(70, 175, 44, 0.609);
  }

  @include desktop {
    height: 19em;
  }
}
