@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.main-logo {
    padding: 1em;
    @include flex(0, center, center);

    .main-logo__icon {
        width: 60px;
        margin-right: 1em;
    }

    .main-logo__title-wrapper {
        @include flex(column, flex-start, 0)
    }
    .main-logo__title {
        font-weight: weight(super); 
        line-height: .8;
        font-size: 2.4rem;
    }
    .main-logo__subtitle {
        font-weight: weight(light); 
    }
}