@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.stage {
  @include flex(column, center, center);
  @include addBackground("glass");
  min-width: 290px;
  padding: 2em 0.5em;
  margin-bottom: 1em;
  text-align: center;
  margin-top: 1em;

  &__card-container {
    width: 100%;
  }
  &__stage-count {
    font-weight: weight(regular);
  }
}
