@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.tag {
    font-size: .625rem;
    padding: .2em .5em;
    border-radius: 5px;
    background-color: $black_800;
    color: $white_0;
    letter-spacing: .5px;
}