@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.tag {
  font-size: 0.625rem;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  background-color: $black_800;
  color: $white_0;
  letter-spacing: 0.5px;
  font-weight: weight(plusbold);
}
