$black_800: #262627;
$black_700: #3B3B3B;
$turquoise_700: #84ccd6;
$turquoise_500: #b4e9f0;
$violet_600: #5f25bb;
$violet_500: #c1b8f6;
$violet_400: #cbb4f0;
$white_800: #f1ebe4;
$white_0: #ffffff;
$green_700: rgba(70, 175, 44, 0.609);
$red_700: rgba(218, 68, 68, 0.603);
$gray: #9D9D9D;