$black_800: #262627;
$black_700: #39393a;
$turquoise_700: #84ccd6;
$turquoise_500: #b4e9f0;
$violet_600: #5f25bb;
$violet_500: #c1b8f6;
$violet_400: #cbb4f0;
$white_800: #f1ebe4;
$white_0: #ffffff;
$green_700: #1dab45;
$red_700: #ab301d;
