*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
}