@use "../2_utils/mixins" as *;
@use "../6_queries/queries" as *;

.main-container {
  @include flex(column, center, 0);
  padding: 2em 1em;
  width: 90%;
  min-width: 340px;
  min-height: 100vh;

  @include tablet {
    @include flex(0, flex-start, 0);
    height: 90vh;
  }
}
