@use "../2_utils/mixins" as *;

.modal {
  @include flex(0, center, center);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../../assets/images/blur_background.png), rgba(0, 0, 0, 0.9);
  background-size: cover;
  backdrop-filter: blur(5px);
}

.modal--hide {
  opacity: 0;
  max-height: 0;
}
