@use "../2_utils/mixins" as *;

.modal {
  @include flex(0, center, center);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(../../assets/images/gradient-modal.png), rgba(0, 0, 0, 0.315);
  background-size: cover;
}

.modal--hide {
  opacity: 0;
  max-height: 0;
  display: none;
}
